/********************** FONTS **********************/

/* This is the main fonts */
@font-face
{
	font-family: Suisse Bold;
	src: url(../fonts/suisseb.ttf);
}
/* body copy type */

@font-face
{
	font-family: Suisse Book;
	src: url(../fonts/Suisseintlbook.otf);
}

/********* UNDER CONSTRUCTION ******************/

img {
	height: 100% vw;
	
}

